<footer class="container-fluid bg-dark">
    <div class="row">
        <!--<section class="col text-center"><box-icon name='cart-download'></box-icon></section> -->
        <section class="col text-center p-2">
            <box-icon type='logo' color='white' name='facebook-circle'></box-icon>
            <box-icon type='solid' color="white" name='envelope'></box-icon>
        </section>
        <!--<section class="col text-center"><box-icon name='cart-download'></box-icon></section> -->
    </div>
</footer>