{% extends "base.html.twig"%}

{% block title %}Administration des produits{% endblock %}

{% block body %}
    <h1>Modifier une peinture</h1>
    {% include "admin/products/_form.html.twig" with {'button_label': 'Modifier'} %}
{% endblock %}