{% extends 'base.html.twig' %}

{% block title %}Hello UserController!{% endblock %}

{% block body %}

    <div class="container">
        <h1 class="mt-4">Formulaire de contact modifier son mot de passe {{ app.user.firstname }} {{ app.user.lastname }}</h1>
        {% for message in app.flashes('warning') %}
            <div class="alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
        {{ form(form) }}
    </div>
{% endblock %}
